/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../style/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('../style/montserrat-v14-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/montserrat-v14-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../style/roboto-slab-v10-latin-regular.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/roboto-slab-v10-latin-regular.woff2') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'),
       url('../style/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/noto-serif-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;

}
  /* Header */
  .logo{
  font-family: "LovedbytheKing", sans-serif;
  font-size: 26px;
  color: gold;
  }

  
  .nav{
  list-style: none;
  width: 485px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  }
  nav{
  display: flex;
  }
  .nav li a{
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .nav a:hover{
  content: "";
  color: orange;
  }
  
  .nav li{
  transition: 0,2s linear;
  }
  .nava{
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  margin-bottom: 120px;
}
/* title */
.title{
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color:#222222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.title-text{
  display: block;
  text-align: center;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  text-align: center;
  margin-bottom: 70px;
}
/* body */
.servic_product{
  display: flex;
  align-items: center;
  justify-content: space-between;  
}
.card{
  width: 300px;
  text-align: center;
  position: relative;
  padding-top: 90px;
}
.name-inform-product{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    margin-bottom: 18px;
  }
  .inform-product{
      font-size: 14px;
      font-family: "RobotoSlab";
      color: rgb(119, 119, 119);
      line-height: 1.2;
      text-align: center;
    }
.card::before{
  content:"";
  display:block;
  width: 70px;
  height: 70px;
  border: 3px solid yellow;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
}
.back::before{
  background-image: url(../img/basket.png);
}
.laptop::before{
  background-image: url(../img/laptop.png);
}
.lock::before{
  background-image: url(../img/locked.png);
}