/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../style/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('../style/montserrat-v14-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/montserrat-v14-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../style/roboto-slab-v10-latin-regular.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/roboto-slab-v10-latin-regular.woff2') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'),
       url('../style/noto-serif-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/noto-serif-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* loved-by-the-king-regular - latin */
@font-face {
  font-family: 'Loved by the King';
  font-style: normal;
  font-weight: 400;
  src: local('Loved by the King'), local('LovedbytheKing'),
       url('../style/loved-by-the-king-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../style/loved-by-the-king-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;

}
  /* Header */
  .logo{
  font-family: "Loved by the King", sans-serif;
  font-size: 26px;
  color: gold;
  text-decoration: none;
  }

  
  .nav{
  list-style: none;
  width: 485px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  }
  nav{
  display: flex;
  }
  .nav li a{
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  }
  .nav a:hover{
  content: "";
  color: orange;
  }
  
  .nav li{
  transition: 0,2s linear;
  }
  .nava{
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  margin-bottom: 120px;
}
/* title */
.title{
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 900;
  color:#222222;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
.title-text{
  display: block;
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: #777777;
  text-align: center;
  margin-bottom: 70px;
}
/* body */
.servic_product{
  display: flex;
  justify-content: space-between; 
}
.card{
  width: 290px;
  text-align: center;
  position: relative;
  padding-top: 90px;
}
.name-inform-product{
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    margin-bottom: 18px;
  }
  .inform-product{

    
    font-size: 14px;
      font-family: "RobotoSlab";
      color: rgb(119, 119, 119);
      line-height: 1.2;
      text-align: center;
    }
.card::before{
  content:"";
  display:block;
  width: 70px;
  height: 70px;
  border: 3px solid orange;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
}
.back::before{
  background-image: url(../img/basket.png);
}
.laptop::before{
  background-image: url(../img/laptop.png);
}
.lock::before{
  background-image: url(../img/locked.png);
}

/* forms */
.inform11{
  margin-top: 120px;
}
.contact-us{
  padding-bottom: 70px;
  background-image: url(../img/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}
.title-contact{
  margin-bottom: 15px;
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}
.text-contact{
  display: block;
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(119, 119, 119);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}
.contact-us{
  display: block;
}
.form-contact{
  display: flex;
  
}
.container-contact-us{
  margin: 0 auto;
}
.input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
input {
  width: 450px;
  height: 52px;
  border-radius: 4px;
  outline: none;
  padding-left: 20px;
}
form{
  padding-bottom: 30px;
}
input:required:focus:valid{
  border-color : #008000;
}
input:required:focus:invalid{
  border-color: #ff0000;
}
.textarea{
  width: 455px;
}
textarea{
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #cccccc;
  border-radius: 2px;
  resize: none;
  padding: 2px 2px;
  outline: none;
}
.forms1{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button{
    display: block;
    width: 240px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    border-radius: 3px;
    background-color: orange;
    border: 1px solid orange;
    cursor: pointer;
    padding: 20px 2px;
    margin: 0 auto; 
}
.servic_product{
  margin-bottom: 120px;
}
.title-contact{
  padding-top: 100px;
  margin-bottom: 18px;
}
input:not(:last-child){
  margin-bottom: 30px;
}