html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.logo {
  font-family: "Monserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #95e1d3;
}

.nav {
  list-style: none;
  width: 490px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav {
  display: flex;
}

.nav li a {
  display: inline-block;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #95e1d3;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav a:hover {
  content: "";
  color: #f38181;
  padding-bottom: 2px;
  border-bottom: 3px solid #f38181;
}

.nav li {
  transition: 0, 2s linear;
}

.nava {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  margin-bottom: 100px;
}



.title3,
.team3 {
  display: block;
  font-family: "Kaushan Script", cursive;
  text-transform: lowercase;
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin-bottom: 7px;
  margin-bottom: 20px;
}

.title3:first-letter {
  text-transform: uppercase;
}

.team3:first-letter {
  text-transform: uppercase;
}

.title2,
.team2 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 63px;
}

.title2::after {
  content: " ";
  display: block;
  height: 4px;
  width: 60px;
  margin: 0 auto;
  margin-top: 41px;
  background-color: #f38181;
}

.name-inform-product {
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 14px;
}

.card .inform-product {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
}

.inform-product li:nth-child(-n + 6) {
  margin-bottom: 94px;
}

.inform-product {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 354px;
  padding-left: 82px;
  background-repeat: no-repeat;
  background-position-x: 22px;
  text-decoration: none;
  margin-bottom:
}

/* team */




.team2::after {
  content: " ";
  display: block;
  height: 4px;
  width: 60px;
  margin: 0 auto;
  margin-top: 41px;
  background-color: #f38181;
}

.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.name {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  margin-top: 29px;
  text-align: center;
}

.position {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  text-transform: capitalize;
  text-align: center;
}

/* footer */

.foot {
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.copyright {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  color: #333333;
}

.developer {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  color: #f38181;
  cursor: pointer;
}

.email-input {
  height: 40px;
  width: 230px;
  border: 1px solid #e7e7e7;
  border-right: none;
}

.subscribe-btn {
  font-family: "Monserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  width: 150px;
  color: #fff;
  background-color: #95e1d3;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.email-form {
  display: flex;
  margin: 11px 0px;
}

.network:hover {
  background-color: #95e1d3;
  cursor: pointer;
}
.text-foter{
     font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    display: flex;
  
  }
  .title3 span{
    display: block;
  }
  .title2
  {
    margin-top: 18px;
  }
  .team2{
    display: block;
  }

/* Effects */
.card {
  display: block;
  height: 32px;
  background-repeat: no-repeat;
  margin-bottom: 98px;
}

.photography {
  background-image: url(../img/png/imag1.png);
  background-repeat: no-repeat;
}

.design {
  background-image: url(../img/png/imag2.png);
  background-repeat: no-repeat;
}

.creativity {
  background-image: url(../img/png/imag3.png);
  background-repeat: no-repeat;
}

.seo {
  background-image: url(../img/png/imag4.png);
  background-repeat: no-repeat;
}

.internet {
  background-image: url(../img/png/imag5.png);
  background-repeat: no-repeat;
}

.digital {
  background-image: url(../img/png/IMAGE6.png);
  background-repeat: no-repeat;
}

.team_foto {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(243, 129, 129, 0.9),
      rgba(252, 227, 138, 0.9));
  opacity: 0;
  visibility: hidden;
}

.overlay-wrapper {
  position: relative;
}

.team-item:hover .overlay{
  opacity: 1;
  visibility: visible;
  transform: translate(-12px, -12px);
  box-shadow: 12px 12px 0 #95e1d3;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.team-item:hover .team_foto{
  opacity: 1;
  visibility: visible;
  transform: translate(-12px, -12px);
  box-shadow: 12px 12px 0 #95e1d3;
  cursor: pointer;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.social-network {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.network_social {
  border: none;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  margin-right: 1px;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  list-style: none;
}

.network_social:hover {
  background-color: #95e1d3;
}

.network_social:nth-child(1) {
  background-image: url(../img/png/facebook.png);
}

.network_social:nth-child(2) {
  background-image: url(../img/png/twitter.png);
}

.network_social:nth-child(3) {
  background-image: url(../img/png/pinterest.png);
}

.network_social:nth-child(4) {
  background-image: url(../img/png/instagram.png);
}

.team-list {
  margin-bottom: 86px;
}

.text-team {
  display: block;

  width: 980px;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  text-align: center;
  font-weight: 400;
  margin-bottom: 88px;
  margin-left: 180px;
}