
/* Header */

.page-header {
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9))), url("../img/eagle@2x.png");
    background-image: -o-linear-gradient( top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%), url("../images/eagle@2x.png");
    background-image: linear-gradient( 180deg, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%), url("../images/eagle@2x.png");
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      padding-top: 28px;
      padding-bottom: 132px;
      
  
      
  }
  
  .list-
  .header-container {
      width: 1200px;
      margin: 0 auto;
      padding-top:36px;
  }
  
  .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  
  .site-logo {
      width: 24px;
      display: block;
      font-size: 30px;
      text-decoration: none;
      font-family: "Montserrat";
      color: #fff;
      font-weight: bold;
      text-align: left;
  
  }
  
  .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-width: 490px;
      list-style: none;
      text-decoration: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  
  
  }

.header__menu-item-svg {
      fill: white;
      width: 20px;
      height: 20px;
    }

 .header__menu-item-svg:hover {
        fill: #fce38a; 
      }
  .menu-item__button{
    border: none;
  }
  .menu-item__link {
      font-size: 14px;
      text-decoration: none;
      font-family: "Montserrat";
      text-transform: uppercase;
      text-align: center;
      color: #fff;
  }
  .header__menu-item-svg{
    border: none;
  }
 
    
  .menu-item__link::after {
      display: block;
      content: "";
      width: auto;
      height: 4px;
      background-color: #fce38a;
      opacity: 0;
      margin-top: 12px;
  }
  
  .menu-item__link:hover {
  
      color: #fce38a;
  }
  
  .menu-item__link:hover::after {
      opacity: 1;
  }
  
  .page-header__title {
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-bottom: 38px;
  }
  
  .page-header__subtitle {
    font-family: "Montserrat", serif;
    font-size: 150px;
    font-weight: 700;
    line-height: 180px;
    color: #fff;
    text-align: center;
    margin-bottom: 124px;
    text-transform: uppercase;
  }
  
  .menu-item__button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .page-header__btn {
    display: block;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
    width: 160px;
    height: 44px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
  }
  
  
  
  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .page-header {
      background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9))),
        url("../images/eagle@2x.png");
      background-image: -o-linear-gradient( top, (rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9) 100%)),
        url("../images/eagle@2x.png");
      background-image: linear-gradient( 180deg, (rgba(243,129,129,0.9)), to(rgba(252,227,138,0.9) 100%),
        url("../images/eagle@2x.png"));
    }
  }
  /* Service section */
  .services__list,
  .team-item{
    list-style-type: none;
  }
  
  .container {
      width: 1200px;
      margin: 0 auto;
  }
  
  .services__title-1 {
      display: block;
      margin-bottom: 22px;
      font-family: "Kaushan Script";
      font-size: 24px;
      color: #333333;
      text-align: center;
      text-transform: inherit;
  }
  
  .services__title-2 {
    display: block;
      font-family: "Montserrat", regular;
      font-size: 30px;
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      
  }
  .services__title::after {
      display: block;
      content: "";
      width: 60px;
      height: 4px;
      background-color: #f38181;
      margin: 40px auto 40px;
    }
    .services__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .services__list--item {
      width: 382px;
      padding-left: 82px;}
  
  .services__list--title {
      font-family:  "Montserrat", regular;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      color: #333333;
      margin-bottom: 18px;
  }
  
  .service__text {
      font-family:"Roboto", regular;
      font-size: 15px;
      line-height: 24px;
      color: #999999;
      
  }
  
  .services__list--item:first-child {
      background-image: url(../images/ALARM.png);
      background-repeat: no-repeat;
      background-position: 5% 0;
      margin-bottom: 98px;
    }
    .services__list--item:nth-child(2) {
      
      background-image: url(../images/line2.png);
      background-repeat: no-repeat;
      background-position: 5% 0;
      margin-bottom: 98px;
    }
    .services__list--item:nth-child(3) {
    
      background-image: url(../images/comp.png);
      background-repeat: no-repeat;
      background-position: 5% 0;
      margin-bottom: 98px;
  }
  .services__list--item:nth-child(4) {
      background-image: url(../images/BOOK.png);
      background-repeat: no-repeat;
      background-position: 5% 0;
      margin-bottom: 98px;
    }
    .services__list--item:nth-child(5) {
      background-image: url(../images/HOME.png);
      background-repeat: no-repeat;
      background-position: 5% 0;
      margin-bottom: 98px;
    }
    .services__list--item:nth-child(6) {
     
      background-image: url(../images/IMAGE.png);
      background-repeat: no-repeat;
      background-position: 5% 0;
      margin-bottom: 98px;
    }
  